body {
    margin: 60px auto;
    padding: 0 60px;
    max-width: 1200px;
    box-sizing: border-box;
}
nav ul, footer ul {
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
    padding: 0px;
    list-style: none;
    font-weight: bold;
}
nav ul li, footer ul li {
    display: inline;
    margin-right: 20px;
}
a {
    text-decoration: none;
    color: #00A522;
}
a:hover {
    text-decoration: underline;
}
h1 {
    font-size: 2.5em;
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
}

h2 {
    font-size: 2.25em;
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
    margin-bottom: 15px;
    margin-top: 15px;
}

h3 {
    font-size: 2em;
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
    margin-bottom: 0;
}

h4 {
    font-size: 1.8em;
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
}

h5 {
    font-size: 1.6em;
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
}

p {
    margin:0;
    font-size: 1.5em;
    line-height: 1.4em;
    color: #333;
}

hr {
    height: 1px;
    background-color: #d5d5d5;
    border: none;
}

ul {
    font-size: 1.5em;
    line-height: 1.4em;
}

footer {
    display: block;
    border-top: 1px solid #d5d5d5;
    font-size: .8em;
    max-width: 1200px;
}

ul.posts { 
    margin: 20px auto 40px; 
    font-size: 1.5em;
}

ul.posts li {
    list-style: none;
}

.grid {
    display: grid;
    grid-template-columns: minmax(0, 50%) minmax(0, 50%);
    grid-gap: 50px;
    clear: both;
    padding: 10px;
    align-items: center;
    justify-content: center;
 }

.col-1-2 {
    width: 100%;
    padding: 10px;
}

content {
    width: 100%;
}

img {
    max-width: 100%;
    display: block;
}

.label {
    margin-top:0;
    display: block;
    font-size: 0.8em;
    letter-spacing: 0.3px;
    text-transform: uppercase;
    color: #0A2447;
}

.caption {
    font-size: .6em;
    margin-bottom: 30px;
    margin-top: 20px;
}

p.copy {
    margin-bottom: 20px;
}

/* Projects page */
.project {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
}

.project p {
    font-size: 1.25em;
    margin-bottom: 20px;
}

.project-description {
    flex-grow: 1;
    flex: 0 0 40%;
}

.project-image {
    flex-grow: 2;
    flex: 0 0 60%;
    margin-left: 30px;
}

@media (max-width: 800px) {
    body {
        padding-left: 30px;
        padding-right: 30px;
    }
    h2 {
        margin-bottom: 0;
        margin-top: 0;
    }
    .grid {
        grid-template-columns: 100%;
        grid-gap: 0;
    }
    .project {
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: flex-start;
    }

    .project-description, .project-image {
        flex: 1 0 100%;
    }

    .project-image {
        margin-left: 0;
        padding-left: 0;
        padding-right: 0;
    }
}
