body {
    margin: 60px auto;
    width: 70%;
}
nav ul, footer ul {
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
    padding: 0px;
    list-style: none;
    font-weight: bold;
}
nav ul li, footer ul li {
    display: inline;
    margin-right: 20px;
}
a {
    text-decoration: none;
    color: #999;
}
a:hover {
    text-decoration: underline;
}
h1 {
    font-size: 2.5em;
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
}

h2 {
    font-size: 2.25em;
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
}

h3 {
    font-size: 2em;
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
}

h4 {
    font-size: 1.8em;
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
}

p {
    font-size: 1.5em;
    line-height: 1.4em;
    color: #333;
}

footer {
    border-top: 1px solid #d5d5d5;
    font-size: .8em;
}

ul.posts { 
    margin: 20px auto 40px; 
    font-size: 1.5em;
}

ul.posts li {
    list-style: none;
}

.grid {
    /* display: flex; */
    display: grid;
    grid-template-columns: 50% 50%;
    grid-gap: 10px;
    clear: both;
    padding: 10px;
    /* font-size: 1.6em; */
    width: 100%;
 }

.col-1-2 {
    width: 100%;
    padding: 10px;
}

.col-1-2:last-child {
    margin-left: 20px;
}

content {
    width: 100%;
}

img {
    max-width: 100%;
    display: block;
}

img + em {
    font-size: .6em;
    padding: 20px;
}

img[src*="#scaled"] {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 70%;
    padding: 20px;
}

.vertical-center {
    min-height: 100%;
    display: flex;
    align-items: center;
  }
  